<!DOCTYPE html>
<html lang="en">


<%- include('partials/_head',{title:'URL - TinyApp Example'}) %>

  <body>
    <%- include ('partials/_header') %>

      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">TinyURL for: <a href="<%= longURL %>" target="_blank">
              <%= longURL %>
            </a>
          </h5>
          <p class="card-text">
            Short URL ID: <a href="/u/<%= id %>">
              <%= id %>
            </a>
          </p>
        </div>
        <div class="card-footer text-muted">

          <h3>Edit</h3>
          <form method="POST" action="/urls/<%= id %>?_method=PUT">
            <label for="longURL">New URL:</label>
            <input name="longURL" type="text" value="<%= longURL %>">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

        </div>
      </div>
      <%- include('partials/_bootstrap_js') %>

  </body>

</html>