<!DOCTYPE html>
<html lang="en">


<%- include('partials/_head',{title:'URL - TinyApp Example'}) %>

  <body>
    <%- include ('partials/_header') %>

      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">TinyURL for: <a href="<%= longURL %>" target="_blank">
              <%= longURL %>
            </a>
          </h5>
          <p class="card-text">
            Short URL ID: <a href="/u/<%= id %>">
              <%= id %>
            </a>
          </p>
        </div>
        <div class="card-footer text-muted">

          <h3>Edit</h3>
          <form class="col-sm-12 col-md-4 m-auto" method="POST" action="/urls/<%= id %>?_method=PUT">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">New URL</span>
              </div>
              <input type="text" class="form-control mr-1" name="longURL" value="<%= longURL %>" aria-label="Default"
                aria-describedby="inputGroup-sizing-default">
              <button type="submit" class="btn btn-primary"><i class="fas fa-check-square"></i> Submit</button>

            </div>

          </form>

        </div>
      </div>
      <%- include('partials/_bootstrap_js') %>

  </body>

</html>